//Imported Fonts:
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//------------//

//Font Families
$primary_font: Raleway;
$secondary_font: Roboto;
//----//
//Font Sizes
$larger_font_size: 24px;
$medium_font_size: 16px;
$smaller_font_size: 14px;
//----//
//Font Colors
$light_font_color: white;
$dark_font_color: #212529;
$cream_font_color: #C7B299;
$dark_cream_font_color: #998675;
//----//
//Background Colors
$light_bg_color: white;
$dark_bg_color: #212529;
$lighter_cream_bg_color: #f0EEEA;
$light_cream_bg_color: #998675;
$dark_cream_bg_color: #A1907A;
$brown_bg_color: #362F2D;
$gradient_red_bg_color: linear-gradient(90deg, rgba(66,33,38,1) 12%, rgba(82,41,39,1) 45%, rgba(82,41,39,1) 100%, rgba(255,255,255,1) 100%);
$gradient_brown_bg_color: linear-gradient(90deg, rgba(45,24,27,1) 13%, rgba(65,38,37,1) 55%, rgba(65,38,37,1) 97%, rgba(82,41,39,1) 100%);

//----//

//Transitions
$transition_im: all;
$transition_time: 0.3s;
$linear: linear;
$transition_full: $transition_im $transition_time $linear;
//----//

//Transforms
$transform_type:'';
$transform_deg: 0deg;
//----//
//Margins
$centered_margin: auto;
//----//
//Header


//----//
//SideBar

//----//

//FirstBack

//----//
//BoxesFromAPI

// @media only screen and (max-width: 1366px) {
//     .small-boxes{
//         flex:50%;
//     }
// }

//----//

//ThreeGallerySection

//----//

//Purchase Section

//----//

//Projects Section

//----//

//Video



//----//

//Mobile Section


//----//

//Counter Section

//Posts Section
.full-row{
    text-align: center;
    margin-top: 10%;
    position: relative;
}
#row-title{
    text-align: center;
}
#row-p{
    text-align: center;
}
//----//

//News Section



//Footer Section

//Form
#show-full-form{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 68;
    font-family: Raleway;
    font-size: $larger_font_size + 3;
    border:none;
    background-color: $cream_font_color;
    color:white;
    font-weight: 500;
    right:0;
    top:75%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position:fixed;
}
.full-form-box{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: $transition_full;
    right:0;
    top:40vh;
    background-color: $dark_cream_font_color;
    width:30%;
    margin:auto;
    text-align: center;
    padding:50px 50px;
    position:fixed;
    z-index: 69;
}
.full-form-box > .form-box > h1{
    position:absolute;
    font-size: $larger_font_size + 3;
    padding: 10px 10px;
    width:100%;
    left:0;
    top:15%;
    color:white;
}
.inputs{
    border-radius: 30%;
    padding-top: 150px;
    justify-content: center;
    text-align: center;
    font-family: Raleway;
    margin:auto;
    display:block;
}
.inputs > ul{
    list-style-type: none;
    padding:0;
}
.inputs > ul > li{
    padding: 15px 15px;
}
input{
    height: 60px;
    background-color: transparent;
    border:none;
    min-width:35%;
    margin:auto;
    border-radius: 0;
    border-bottom: 5px solid white;
    transition: $transition_full;
}
input[type="text"]{
    font-size: $medium_font_size ;
}
input:focus{
    outline: none;
    background-color: white;
}
textarea:focus{
    outline:none !important;
}
textarea{
    width:100%;
    max-width: 100%;
    color:black;
    outline:none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid white;
    margin:auto;
    background-color: transparent;
    transition: $transition_full;
}
textarea[type="text"]{
    font-size: $medium_font_size ;
}
textarea:focus{
    background-color: white;
}
::placeholder{
    border:none;
    font-family: $primary_font;
    color: $cream_font_color;
    font-size: $medium_font_size + 2;
    opacity: 1;
    text-align: center;
}
:-ms-input-placeholder{
    font-family: $primary_font;
    color:white;
    font-size: $medium_font_size;
}
.push-notification{
    display:block;
    position:absolute;
    background-color: black;
    top:60%;
    width:auto;
    max-width: 80%;
    left:0;
    right:0;
    margin:auto;
    z-index: 70;
}
.noti-box{
    padding: 50px 50px;
    z-index: 100;
}
#send-button{
    position:absolute;
    right:15%;
    font-family: $primary_font;
    border:none;
    background-color: white;
    padding:10px 10px;
    color:$cream_font_color;
    font-weight: 500;
}
#thanks-message{
    color:White;
}
#exit-noti{
    position:absolute;
    right:2%;
    font-family: $primary_font;
    border:none;
    background-color: white;
    padding:10px 10px;
    color:$cream_font_color;
    font-weight: 500;
    z-index: 30;
}
#exit-message{
    color:white;
    border: none;
    background-color: black;
    font-size: $medium_font_size;
    font-family: $primary_font;
}
#exit-message, #exit-noti, #send-button{
    transition: $transition_full;
}   
#exit-message:hover, #exit-noti:hover, #send-button:hover{
    background-color: black;
    color:white;
}
// @media only screen and (max-width:2000px) {
//     .boxes{
//         max-width: 375px;
//         max-height: 356px;
//     }
// }
// @media  only screen and (max-width: 1920px){
//     #images{
//         margin-bottom:0%;
//         padding-top:1%
//     }
//     .buttons{
//         width:100px;
//         height: 100px;
//     }
//     .text-box{
//         width:100%;
//     }
//     .right-flex{
//         padding-right: 20%;
//     }
// }
// @media only screen and (max-width: 1800px) {
//     button{
//         margin-top:2%;
//     }
//     .postboxes{
//         margin-inline: -1%;
//     }
//     .full-section{
//         padding-left: 0;
//         padding-right:0;
//     }
//     .left-box, .center-left-box, .center-right-box, .right-box{
//         flex:20%;
//         justify-content: center;
//     }
// }
// @media only screen and (max-width: 1510px){
//     .rows{
//         justify-content: center;
//     }
//     .full-form-box{
//         width: 50%;
//     }

// }
// @media only screen and (max-width: 1366px) {
//     .small-api-boxes{
//         flex:50%;
//     }
//     .small-boxes{
//         flex:50;
//     }
//     #postbox{
//         width:30%;
//     }
//     button{
//         margin-top:3%;
//     }
//     #images-in-box{
//         width:auto;
//         max-width: 100%;
//         max-height: 400px;
//     }
//     #footer-menu{
//         padding: 15px 15px;
//     }
//     .right-box{
//         padding:0;
//     }
//     .counter-boxes{
//         flex:50%;
//     }
// }
// @media only screen and (max-width: 1125px) {

//     .carousel{
//         width:100%;
//     }
//     #gallery-title{
//         font-size: xx-large;
//     }
//     #gallery-p{
//         padding-left:10px;
//         padding-right:10px;
//         width:80%;
//         padding: 35px 35px;
//         margin:auto;
//         text-align: justify;
//         font-size: medium;
//     }
//     .sliders{
//         margin-top: 3%;
//     }

// }
// @media only screen and (max-width: 1080px) {
//     .text-on-image{
//         top:35%;
//     }
//     #text-h1-image{
//         font-size: xx-large;
//     }
//     #text-p-image{
//         font-size: xx-large;
//     }
//     #text-span-image{
//         font-size: medium;
//     }
//     .full-section-projects{
//         padding: 2px 2px;
//     }
// }
// @media only screen and (max-width: 1062px) {
//     #phone{
//         max-width: 100%;
//     }
//     .left-flex{
//         flex:100%;
//         text-align: center;
//     }
//     .right-flex{
//         text-align: center;
//         flex:100%;
//         padding: 2% 2%;
//     }
// }
// @media only screen and (max-width: 1000px) {
//     .postboxes{
//         max-width: 100%;
//     }
//     #postbox.postboxes.mobile.mobile-active{
//         width:100%;
//         min-width: 320px;
//     }
//     .post-text-box{
//         display:block;
//         width:100%;
//     }
//     #post-box-title, #post-content{
//         text-align: left;
//         width:100%;
//         margin:0;
//         max-width: 100%;
//     }
//     #read-more{
//         margin:0;
//         text-align: left;
//         margin-top: 0;
//         font-family: $primary_font;
//         font-size: $medium_font_size;
//     }
//     #read-more > #rm-icon{
//         font-size: $smaller_font_size;
//     }
//     #postbox{
//         margin-top:2%;
//         display:block;
//         width:80%;
//         margin:auto;
//     }
//     .left-box, .center-left-box, .center-right-box, .right-box{
//         flex:100%;
//         width:100%;
//     }
//     .buttons{
//         width: 60px;
//         height: 60px;
//     }
//     #video{
        
//         width:100%;
//         height:500px;
//     }
//     .video{
//         margin-top:25%;
//         margin-bottom:25%;
//         height: 50%;
//         padding:0;
//     }
//     #video-text-title{
//         font-size: 28px;
//     }
//     #video-text-p{
//         font-size: 13px;
//     }
//     #play{
//         font-size: $larger_font_size ;
//     }
//     #stop{
//         font-size: $medium_font_size ;      
//     }
//     .full-row{
//         margin-bottom:500px;
//     }
// }
// @media only screen and(max-width: 960px) {
//     #carousel-img{
//         min-height: 700px;
//     }
//     .text-on-image{
//         left:0;
//         right:0;
//         top: 45%;
//         margin: auto;
//         width: 80%;
//     }
//     #text-p-image{
//         font-size: $larger_font_size;
//     }
//     #text-h1-image{
//         font-size: $larger_font_size + 5;
//     }
//     #text-span-image{
//         text-align: center;
//         width:100%;
//         font-size: $medium_font_size;
//         margin:0;
//     }
//     #get-started-btn{
//         font-weight: 300;
//         font-size: $medium_font_size - 1;
//     }
//     .small-api-boxes > img{
//         width:45px;
//         height: 40px;
//     }
//     .small-api-boxes{
//         padding: 20px 20px;
//     }
//     #button-purchase-box {
//         padding:50px 50px;
//     }
//     .video{
//         margin-top: 10%;
//         margin-bottom: 5%;
//     }
//     #drp-menu{
//         padding:0;
//         text-align: justify;
//     }
//     .full-counter{
//         padding: 50px 50px;
//     }
//     .section{
//         margin-top:5%;
//     }
//     #row-p{
//         font-size: $smaller_font_size;
//         padding-left: 50px;
//         padding-right: 50px;
//     }
//     .postboxes{
//         max-width: 50%;
//     }
//     .post-text-box{
//         display:block;
//         width:100%;
//     }
//     #post-box-title, #post-content{
//         text-align: left;
//         width:100%;
//         margin:0;
//         max-width: 100%;
//     }
//     #read-more{
//         margin-top: 0;
//         font-family: $primary_font;
//         font-size: $medium_font_size;
//     }
//     #read-more > #rm-icon{
//         font-size: $smaller_font_size;
//     }
//     #footer-menu{
//         text-align: center;
//     }
//     #footer-items{
//         margin:$centered_margin;
//         width: 80%;
//     }
//     #list-p{
//         padding:5% 5%;
//     }
//     #footer-rm{
//         font-family: $primary_font;
//         font-size: $smaller_font_size - 2;
//     }
//     #footer-rm > #icon{
//         font-size: $smaller_font_size - 3;
//     }
//     .right-box{
//         padding:0;
//     }
//     .right-box > #image-box > #images {
//         padding: 0.5% 0.5%;
//     }
//     .full-form-box{
//         width: 80%;
//         right:0;
//     }
//     #send-button{
//         right:20%;
//     } 
    
//     #exit-noti{
//         right:5%;
//     }
// }

// @media only screen and (max-width: 650px) {
//     .full-form-box{
//         width: 100%;
//         left:0;
//         right:0;
//         margin:auto;
//     }
//     #exit-noti, #send-button{
//         margin-left: 2%;
//     }
//     #projects-buttons-menu{
//         padding-left: 0;
//     }
//     .rows{
//         justify-content: center;
//     }
//     .boxes.activatedc{
//         flex:100%;
//         margin:0;
//         margin-bottom:25%;
//     }
//     #counter-logos{
//         width:57px;
//     }
//     .full-counter{
//         justify-content: center;
//         text-align: center;
//     }
//     .counters{
//         display:flex;
//         flex-wrap: wrap;
//         text-align: center;    
//         margin:0;
//     }
//     .counter-boxes{
//         margin-bottom: 5%;
//         flex:50%;
//     }
//     .purchase-box{
//         flex-wrap: wrap;
//         margin-top:25%;
//         margin-bottom:25%;
//     }
//     .left{
//         padding:0;
//         flex:100%;
//         text-align: center;
//     }
//     .right{
//         align-items: center;
//         justify-content: center;
//         text-align: center;
//         flex:100%;
//         padding:0;
//     }
//     .button{
//         padding:0;
//     }
//     #post-box-title{
//         font-size:25px;
//     }
//     .small-boxes{
//         text-align: center;
//         flex:100%;
//     }
//     #content{
//         text-align: center;
//         font-size:15px;
//         padding-left: 2%;
//         padding-right: 2%;
//     }
//     #bottom{
//         margin:auto;
//         width:10%;
//     }
//     #box-title{
//         text-align: center;
//     }
//     .left-footer, .right-footer{
//         flex:100%;
//     }
// }
// @media only screen and (max-width: 621px){
// #carousel-img{
//         min-height: 700px;
//     }
//     .text-on-image{
//         top: 40%;
//         margin: 0;
//     }
// }
// @media only screen and (max-width: 450px) {
//     .full-section-gallery{
//         margin-top:25%;
//     }
//     #gallery-p{
//         font-size: $smaller_font_size;
//         text-align: center;
//         padding:3px 3px;
//         margin:auto;
//         margin-bottom:5%;
//     }
//     #gallery-title{
//         font-size: $larger_font_size + 3;
//         margin-top:-5%;
//         padding:20px 20px;
//     }
// }
// @media only screen and (max-width: 600px) {
//     .small-boxes{
//         flex:100%;
//     }
//     #gallery-title{
//         font-size: $larger_font_size + 6;
//     }
//     #gallery-p{
//         font-size: $medium_font_size - 2;
//     }
//     .rows{
//         justify-content: center;
//     }
//     .background{
//         top:0;
//     }
//     #carousel-img{
//         min-height: 700px;
//     }
//     .text-on-image{
//         display:block;
//         right:0;
//         left:0;
//         top: 30%;
//         width:80%;
//         margin:auto;
//     }
//     #text-h1-image{
//         margin:0;
//         font-size:$larger_font_size;
//         width:100%;
//         padding:0;
//     }
//     #text-p-image{
//         width:100%;
//         font-size: $smaller_font_size + 3;
//     }
//     #text-span-image{
//         font-size: $smaller_font_size - 1;
//     }
//     #get-started-btn{
//         margin-top: 13%;
//         font-size: $medium_font_size;
//         padding: 5px 5px;
//         font-weight: 400;
//     }
//     #box-title{
//         font-size: $larger_font_size;
//     }
//     #content{
//         font-size: $smaller_font_size;
//     }
//     .purchase-box{
//         flex-wrap: wrap;
//     }
//     .left{
//         flex:100%;
//     }
//     .right{
//         flex: 100%;
//         justify-content: center;
//         text-align: center;    
//     }
//     #purchase-title{
//         font-size: $larger_font_size;
//     }
//     #purchase-content{
//         text-align: center;
//         font-size: $smaller_font_size;
//     }
//     #button-purchase-box{
//         padding-top: 0;
//     }
//     #purchase-button{
//         font-size: $smaller_font_size;
//         font-weight: 400;
//         padding: 10px 10px;
//         margin:$centered_margin;
//         border-radius: 0;
//     }
//     #projects-title{
//         font-size:$larger_font_size;
//     }
//     #comm{
//         padding:15px 15px;
//         font-size: $smaller_font_size;
//     }
//     #projects-buttons-menu{
//         padding:0;
//     }
  
//     #list{
//         padding: 5px 5px;
//         font-weight: 400;
//     }
//     #list.active{
//         padding: 5px 5px;
//         font-weight: 400;
//     }
//     .boxes.activatedc{
//         flex:100%;
//         margin:0;
//         margin-bottom:25%;
//     }
//     #p-cont{
//         font-family: $primary_font;
//         font-size: $smaller_font_size;
//     }
//     #load-more{
//         margin-top:10%;
//         margin:$centered_margin;
//         padding: 5px 5px;
//         font-size: $smaller_font_size;
//     }
//     #play{
//         font-size: $larger_font_size + 6;
//     }
//     #stop{
//         font-size: $medium_font_size
//     }
//     .text-on-video{
//         top:60%;
//     }
//     .text-box > h1{
//         font-size: $larger_font_size;
//     }
//     .text-box > p {
//         padding:5px 5px;
//         font-size: $smaller_font_size;
//     }
//     .section > .right-flex{
//         padding:5px 5px;
//     } 
//     .section > .left-flex{
//         justify-content: right;
//         text-align: right;
//     } 
//     #drp-menu{
//         text-align: center;
//         padding:10px 10px;

//     }
//     #drp-item{
//         font-size: $smaller_font_size;
//         text-align: left;
//     }
//     #drp-btn{
//         font-size:$smaller_font_size - 4;
//         width:20px;
//         height:20px;
//     }
//     #drp-menu > .box{
//         text-align: left;
//         padding-top: 0px;
//         padding-bottom: 20px;
//         padding-left:0;
//         padding-right:0px;
//         font-size: $smaller_font_size - 1;
//     }
//     .full-counter{
//         padding:5px 5px;
//         width: 100%;
//         display:flex;
//         flex-wrap: wrap;
//         justify-content: center;
//     }
//     .counter-boxes{
//         flex:50%;
//         margin-bottom: 5%;
//         margin-top:5%;
//     }
//     #counter-logos{
//         width:45px;
//         height: 50px;
//     }
//     span#comment{
//         font-size: $smaller_font_size - 2 !important;
//     }
//     #row-title{
//         font-size: $larger_font_size;
//     }
//     #row-p{
//         padding:10px 10px;
//         font-size: $smaller_font_size;
//     }
//     #read-more{
//         margin-top: -5%;
//     }
//     #postbox{
//         margin-bottom: 10%;
//     }
//     #footer-menu{
//         padding:0;
//     }
//     #post-box-title{
//         font-size: $medium_font_size;
//     }
//     #post-content{
//         font-size:$smaller_font_size - 2;
//     }
//     #day, #month{
//         padding:5px 5px;
//         font-size: $smaller_font_size;
//     }
//     #read-more{
//         font-size: $smaller_font_size;
//     }
//     #list-p{
//         font-size:$smaller_font_size - 2;
//         padding: 5% 5%;
//     }
//     #footer-items{
//         font-size: $smaller_font_size - 2;
//     }
//     #send-button{
//         right: 30%;
//     }
//     #exit-noti{
//         right:15%;
//     }
//     input[type="text"]{
//         font-size: $medium_font_size;
//     }
//     textarea[type="text"]{
//         font-size: $medium_font_size;
//     }
// }
// @media only screen and (max-width: 430px) {
//     .sidebar.active{
//         width:60%;
//     }
//     #send-button{
//         right: 35%;
//     }
//     #exit-noti{
//         right:12%;
//     }
//     #show-full-form{
//         font-size: $medium_font_size;
//         width: 60px;
//         height: 60px;
//         top:80%;
//     }
//     .full-form-box{
//         top:10%;
//     }
// }